/* tasks creatiom page styling */
h1 {
    margin-bottom: .7rem;
}
input[type="date"], input[type="datetime"], input[type="time"], select {
    height: 2rem;
}
/* task details title and description */
.about-task {
    padding: .5rem 0;
}
.about-task .tittle { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.1rem;
}
.about-task .tittle label {
    text-transform: capitalize;
    color: var(--text-color);
}
.about-task .tittle #task-title {
    width: 100%;
    height: 2.6rem;
    padding: .5rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    transition: border-color .3s ease-out;
}
.about-task .tittle #task-title.error {
    border: 1px solid red;
}

.about-task .description {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}
.about-task .description label{
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: auto;
}
.about-task .description #task-description {
    width: 100%;
    height: 10rem;
    padding: .5rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    transition: border-color .3s ease-out;
}
.about-task .description #task-description.error {
    border: 1px solid red;
}


/* task piyority */
.task-piyority {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
}
.task-piyority label {
    color: var(--text-color);
    text-transform: capitalize;
}

.task-piyority .piyorities {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    color: var(--text-color);
    transition: border-color .3s ease-out;
}
.task-piyority .piyorities.error {
    border: 1px solid red;
}

.task-piyority .piyorities label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
}
.task-piyority .piyorities input[type="radio"] {
    cursor: pointer;
}


/* task-date-section */
.task-date-section{
    margin-bottom: 3rem;
    max-width: 36rem;
    height: 6rem;
    overflow: hidden;
    transition: height .4s ease-out;
}
.task-date-section.add-height{
    height: 14rem;
}
.task-date-section .date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.1rem;
    padding: .5rem 0;
    margin-bottom: 1.5rem;
}
.task-date-section .date-selector .date {
    display: flex;
    gap: .7rem;
    align-items: center;
}
.task-date-section .date-selector label {
   text-transform: capitalize;
   color: var(--text-color);
}
.task-date-section .date-selector #task-due-date {
   padding: .1rem;
   cursor: pointer;
   transition: border-color .3s ease-out;
}
.task-date-section .date-selector #task-due-date.error {
    border: 1px solid red;
}

.task-date-section .date-selector .add-reminder {
   display: flex;
   gap: .7rem;
   align-items: center;
}
.task-date-section .date-selector .add-reminder label {
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
   cursor: pointer;
 }
.task-date-section .date-selector .add-reminder input[type="radio"] {
   cursor: pointer;
 }



.reminder-selector {
    display: flex;
    flex-flow: row wrap;
    align-content:center ;
    justify-content: space-between;
    gap: 1.1rem;
    padding: 3rem .5rem;
    max-height: 5.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--secondary-color);

    opacity: 0;
    visibility: hidden;
    transition: opacity .6s linear;
}
.reminder-selector.add-reminder {
    display: flex;
    opacity: 1;
    visibility: visible;
}


.reminder-selector label {
    color: var(--text-color);
    text-transform: capitalize;
    margin-right: .5rem;
}
.reminder-selector #reminder-type {
    padding: .1rem;
    font-size: 1rem;
   cursor: pointer;
}

.reminder-selector #reminder-calander-cont {
    max-width: 15rem;
    display: flex;
    gap: .5rem;
}

.reminder-selector #reminder-calander {
    padding: .1rem .2rem;
    width: 100%;
   cursor: pointer;
}
.reminder-selector #reminder-time {
   cursor: pointer;
}


 /* task-categories section*/
.task-categories {
    max-width: 50rem;
    transition: height .4s ease-out;
}


.task-categories .header h2 {
    margin-bottom: .5rem;
    text-transform: capitalize;
}
.task-categories .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.task-categories .category-settings {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: .3rem;
    display: none;
    position: relative;
}
.task-categories .category-settings h3 {
    white-space: wrap;
}
.task-categories .category-settings.show {
    display: block;
}

.task-categories .category-settings .promt-message {
    display: flex;
    flex-flow: column nowrap;
   outline: 1px solid var(--secondary-color-2);
   background-color: var(--primary-color);
   padding: .5rem;
   width: 95%;
   max-width: 25rem;
   height: 10rem;
   border-radius: .2rem;
   position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.task-categories .category-settings .promt-message.show-promt-message {
    visibility: visible;
    opacity: 1;
}

.task-categories .category-settings .promt-message-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 2;
}
.task-categories .category-settings .promt-message-overlay.show-overlay {
    display: block;
}

.task-categories .category-settings .promt-message p {
   font-size: 1.5rem;
   line-height: 1.9rem;
}
.task-categories .category-settings .promt-message .promt-message-btn-cont  {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.task-categories .category-settings .promt-message .promt-message-btn-cont button {
   padding: .6rem 2rem;
   background-color: var(--secondary-color);
   color: var(--text-color);
   border: none;
   border-radius: .2rem;
   transition: background-color .2s linear;
   cursor: pointer;
   width: 48%;
}

.task-categories .category-settings .promt-message .promt-message-btn-cont button:first-child {
   background-color: rgb(219, 12, 12);
}
.task-categories .category-settings .promt-message .promt-message-btn-cont button:last-child {
    background-color: rgb(13, 20, 219);
 }
.task-categories .category-settings .promt-message .promt-message-btn-cont button:first-child:hover {
   background-color: red;
}
.task-categories .category-settings .promt-message .promt-message-btn-cont button:last-child:hover {
    background-color: rgb(0, 8, 255);
 }


.task-categories .category-settings .all-categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    grid-auto-rows: 2rem;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: .5rem;
}
.task-categories .category-settings .all-categories label{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: .1rem;
    text-transform: capitalize;
    white-space: nowrap;
    border-radius: .2rem;
}
.task-categories .category-settings .all-categories label .delete-category{
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: .4rem;
    cursor: pointer;
    fill: rgb(204, 12, 12);
    transition: fill .2s linear;
}
.task-categories .category-settings .all-categories label .delete-category:hover{
    fill: red;
}



.task-categories .header .category-setting-btn {
    padding: .2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: .3rem;
    transition: background-color .3s linear;
    position: relative;
}
.task-categories .header .category-setting-btn .close {
    display: none;
}
.task-categories .header .category-setting-btn.showing .close {
    display: block;
}
.task-categories .header .category-setting-btn.showing .open {
    display: none;
}

.task-categories .header .category-setting-btn:hover {
    background-color: var(--secondary-color);
}

.task-categories .header .category-setting-btn:after {
    content: "Category setting";
    position: absolute;
        top: 50%;
        right: 100%;
    padding: .35rem .6rem;
    font-size: 1.1rem;
    background-color: var(--secondary-color-2);
    border-radius: .3rem;
    white-space: nowrap;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out;
}
.task-categories .header .category-setting-btn:hover::after {
    opacity: 1;
    visibility: visible;
}
.task-categories .header .category-setting-btn  svg {
    fill: var(--text-color);
}
.task-categories .categories {
   display: grid;
   grid-template-columns: repeat(auto-fill, 8rem);
   gap: .9rem;
   margin-bottom: 2rem;
   transition: border-color .3s ease-out;
}
.task-categories .categories.hide {
   display: none;

}
.task-categories .categories.error {
    border: 1px solid red;
}

.task-categories .categories label {
   display: flex;
   gap: .1rem;
   align-items: center;
   color: var(--text-color);
    cursor: pointer;
    text-transform: capitalize;
}
.task-categories .categories input[type="radio"] {
    cursor: pointer;
}

.task-categories .custom-category {
    display: flex;
    gap: 1rem;
    height: 0;
    transition: opacity .5s linear, height .3s ease-out;
    opacity: 0;
    visibility: hidden;
    /* outline: 1px solid blue; */
    padding: .2rem;
}
.task-categories .custom-category.show {
    opacity: 1;
    visibility: visible;
    height: 3rem;

}


.task-categories #custom-category-input {
    height: 2.3rem;
    padding: .3rem;
}
.task-categories #add-custom-category {
    background-color: var(--secondary-color-2);
    padding: .55rem 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: .2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color .2s linear;
}
.task-categories #add-custom-category:hover {
    background-color: var(--secondary-color);
}


/* sub-tasks section */
.sub-tasks {
    margin-top: 1.4rem;
    padding-bottom: 1.5rem;
    max-width: 37rem;
}
.sub-tasks h2{
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.sub-tasks .sub-tasks-list{
    display: flex;
    flex-flow: column nowrap;
    gap: .3rem;
}
.sub-tasks .sub-tasks-list .sub-task{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
}
.sub-tasks .sub-tasks-list .sub-task p {
    color: var(--text-color);
}
.sub-tasks .sub-tasks-list .sub-task button {
    color: white;
    background-color: rgb(186, 19, 19);
    padding: .6rem 1rem;
    border: none;
    border-radius: .2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s linear;
}
.sub-tasks .sub-tasks-list .sub-task button:hover {
    background-color: rgb(215, 24, 24);
}

.sub-tasks .add-sub-task {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    margin-top:  .3rem;
}


.sub-tasks .add-sub-task .add-sub-task-btn {
    color: white;
    background-color: rgb(47, 19, 186);
    padding: .6rem 1.8rem;
    border: none;
    border-radius: .2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s linear;
}
.sub-tasks .add-sub-task .add-sub-task-btn:hover {
    background-color: rgb(60, 24, 238);
}
.sub-tasks .add-sub-task #sub-task-description {
    height: 2.4rem;
    width: 73%;
    padding: .2rem;
}


/* attachment-section */
.attachment-section {
    padding: 0 0 3rem 0;
    margin-top: 3rem;
    max-width: 30rem;

}
.attachment-section p{
    color: red;
    text-transform: capitalize;
    margin-bottom: .5rem;
    font-size: .9rem;
}
.attachment-section .attachments{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    margin: 1.3rem 0;
}
.attachment-section .attachments .attachment{
    display: flex;
    align-items: center;
    padding:  .2rem 0;
    border: 2px solid var(--secondary-color);
    transition: all .2s linear;
}
.attachment-section .attachments .attachment:hover {
    background-color:  var(--secondary-color-2);
}


.attachment-section .attachments .attachment .attachment-icon {
    width: 2.5rem;
    height: 2.5rem;
}
.attachment-section .attachments .attachment  p {
    margin-left: .3rem;
    color: var(--text-color);
}
.attachment-section .attachments .attachment .attachment-icon img {
    width: 100%;
    height: 100%;
}

.attachment-section .attachments .attachment .delete-attachment-btn{
    margin: 0 .2rem 0 auto;
    padding: .2rem;
    border: none;
    border-radius: .2rem;
    background: none;
    cursor: pointer;
    transition: all .3s linear;
}
.attachment-section .attachments .attachment .delete-attachment-btn:hover {
    background-color: var(--secondary-color);
}

.attachment-section .attachments .attachment .delete-attachment-btn svg{
    fill: red;
}

.attachment-section .add-attachment-selector {
    padding: .5rem .2rem;
    display: flex;
    flex-flow: row wrap;
    gap: .9rem;
    justify-content: space-between;
}
.attachment-section .add-attachment-selector #attachment-file {
    padding: .5rem 0rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s linear;

}


.attachment-section .add-attachment-selector #upload-attachment {
    color: var(--text-color);
    background-color: var(--secondary-color-2);
    padding: .6rem 1.2rem;
    border: none;
    border-radius: .2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s linear;
}

.attachment-section .add-attachment-selector #upload-attachment:hover {
    background-color: var(--secondary-color);
}


/* task-actions */

.task-actions {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}
.task-actions button{
    color: white;
    padding: .6rem 1.2rem;
    border: none;
    border-radius: .2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s linear;
}

.task-actions #cancel-task-btn{
    background-color: rgb(186, 19, 19);
}
.task-actions #cancel-task-btn:hover {
    background-color: rgb(219, 24, 24);
}

.task-actions #save-task-btn{
    background-color: rgb(47, 19, 186);
}
.task-actions #save-task-btn:hover {
    background-color: rgb(52, 17, 226);
}





@media (min-width: 410px) {
    .task-date-section{
        height: 3rem;
    }
    .task-date-section.add-height{
        height: 11rem;
    }
    .reminder-selector {
        padding: 1rem .5rem;
    }

}


@media (min-width: 576px) {
    .task-date-section.add-height{
        height: 9rem;
    }
    .about-task .description #task-description {
        width: 43rem;
    }
    .about-task .tittle #task-title {
        max-width: 40rem;
    }
    
    
    
}


@media (min-width: 768px) {
    .about-task .description #task-description {
        max-width: 30rem;
    }
    .about-task .tittle #task-title {
        max-width: 30.3rem;
    }
    .about-task .tittle { 
        gap: 3rem;
    }

    .task-categories {
        margin-bottom:  2rem;
    }

    .task-categories .category-settings .all-categories{
        grid-template-columns: repeat(auto-fill, 9rem);
    }

    
    
}


@media (min-width: 992px) {
    .task-categories .header .category-setting:after {
            top: 50%;
            left: 100%;
        width: fit-content;
        padding: .4rem .6rem;
        font-size: 1.2rem;
    }
}
