/* Dashboard styling */
.calander , .taskanalysis , .taskoverview {
    background-color: var(--secondary-color);
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

.daskboard-main {
    display: grid;
    grid-template-rows: 250px 400px 600px;
    gap: .8rem;
}

h2 {
    margin-top: 1rem;
}






/* Media query */

@media (min-width: 576px) {
    .daskboard-main {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 768px) {
    .daskboard-main {
        grid-template-columns: 1fr 290px;
        grid-template-rows: 250px 400px;

        grid-template-areas:
            "tasksoverview calander"
            "taskanalysis calander"
        ;

    }
    .calander {
        grid-area: calander;
    }  
    .taskoverview {
        grid-area: tasksoverview;
    }
    .taskanalysis {
        grid-area: taskanalysis;
    }
}

@media (min-width: 992px) {
    .daskboard-main {
        grid-template-columns: 1fr 350px;
        grid-template-rows: 250px 400px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
  
  
@media (min-width: 1200px) {
    .daskboard-main {
        grid-template-columns: 1fr 390px;
        grid-template-rows: 250px 400px;
    }
}
  



